.movie-card {
  height: 330px;
  width: 220px;
  // float: left;
  background-color: transparent;
}

.mat-card {
  // background-color: black !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  box-shadow: none !important;
  background: transparent;
  background-repeat: no-repeat;
  background-position: center;
  // height: 300px;

  // img {
  //   height: 300px;
  // }
}

.zoom {
  transform: scale(1);
  transition: all .3s 0s ease-in-out;
  z-index: 1;
}

.zoom:hover{
  overflow: hidden;
  transform: scale(1.2);
  z-index: 2;
}

.container-fluid{ 
  overflow: auto;
  height: 100%;
} 