@use '@angular/material' as mat;
@import "@angular/material/theming";
@include mat.core();
$app-primary: mat-palette(mat.$grey-palette, 900);
$app-accent: mat-palette(mat.$red-palette);
$app-warn: mat-palette(mat.$yellow-palette);
$theme-dark: mat-dark-theme($app-primary, $app-accent, $app-warn);
@include angular-material-theme($theme-dark);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.mat-toolbar {
  // background:rgb(24, 22, 22) !important;
}

.mat-drawer-container {
  // background-color: black !important;
}

.modalBg {
  // background-color: rgb(24, 22, 22);
  mat-dialog-container {
    // background: none;
    padding: 0;
  }
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
}